<footer th:fragment="html_footer" class="border-top border-2">
  <div class="container py-4">
    <div class="row mt-3">
      <div class="col-12 text-center">
        <a class="navbar-brand" href="../."><img th:src="@{/images/logos/herlivre.png}" width="200px" /></a>
      </div>
      <!--col-->
    </div>
    <!--row-->

    <div class="row mt-5">
      <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Hospedagem em promoção</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Hospedagens baratas</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Hospedagens imperdíveis</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Hospedagens bem avaliadas</a>
      </div>
      <!--col-->

      <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Passagens com milhas</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Passagens madrugada</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Passagens promocionais</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Passagens baratas</a>
      </div>
      <!--col-->

      <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Pacotes em promoção</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Pacotes imperdíveis</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Pacotes baratos</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Pacotes promoção relâmpago</a>
      </div>
      <!--col-->

      <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Aluguel de carros baratos</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Aluguel de carros promocionais</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Aluguel de carros populares</a>
        <a class="d-block text-muted text-decoration-none mb-3" href="#">Aluguel de carros imperdíveis</a>
      </div>
      <!--col-->
    </div>
    <!--row-->

    <div class="row">
      <div class="col-12 text-center mt-4">
        <h3 class="text-muted">nos siga!</h3>
        <a href="https://www.facebook.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                  th:src="@{/images/icons/facebook.png}" alt="ícone facebook" /></a>
        <a href="https://www.instagram.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                   th:src="@{/images/icons/instagram.png}" alt="ícone instagram" /></a>
        <a href="https://twitter.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                             th:src="@{/images/icons/twitter.png}" alt="ícone twitter" /></a>
        <a href="https://www.tiktok.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                th:src="@{/images/icons/tik-tok.png}" alt="ícone tik tok" /></a>
      </div>
      <!--col-->
    </div>
    <!--row-->

    <div class="row text-center mt-5">
      <div class="col-12">
        <p class="text-muted fs-5">Todos os direitos reservados</p>
      </div>
      <!--col-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</footer>