<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title th:text="@{'Alteração do registro de aluguel'+${registroaluguelquarto.id}}"></title>

  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          crossorigin="anonymous"></script>

</head>
<body>

<div class="container px-5 py-3">
  <h3 th:text="@{'Alteração do registro de aluguel'+${registroaluguelquarto.id}}"></h3>
  <form th:object="${registroaluguelquarto}" action="/admin/registroaluguelquarto/update" method="post" class="form-control">
    <input type="hidden" name="id" th:field="${registroaluguelquarto.id}" th:value="${registroaluguelquarto.id}">
    <p>
      <label for="id_quarto">Id do quarto:</label>
      <input th:value="${registroaluguelquarto.quarto.id}" type="number" id="id_quarto" name="id_quarto" size="15" class="form-control" required>
    </p>
    <p>
      <label for="data_entrada">Data de entrada:</label>
      <input th:field="${registroaluguelquarto.data_entrada}" th:value="${registroaluguelquarto.data_entrada}" type="date" id="data_entrada" name="data_entrada" size="15" class="form-control" required>
    </p>
    <p>
      <label for="data_saida">data de saída:</label>
      <input th:field="${registroaluguelquarto.data_saida}" th:value="${registroaluguelquarto.data_saida}" type="date" id="data_saida" name="data_saida" size="15" class="form-control" required>
    </p>
    <button type="submit" class="btn btn-success">Atualizar</button>
  </form>
</div>
</body>
</html>