<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Herlivre - Faça o Registro</title>
  <meta name="author" content="Herlivre - Lucas Emanuel Santana dos Santos" />
  <meta name="description" content="Herlivre - Encontre a melhor forma de viajar - Agência de viagens." />
  <meta name="keywords" content="desenvolvimento,agência,viagem,milhas,carros,aluguel,hotéis,voos" />
  <meta name="theme-color" content="#ffc107" />
  <!-- <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
<nav th:replace="fragments/header::html_header(pageActive='login')"></nav>
  <main>
    <section class="login bg-info">
      <style th:inline="css">
        section.login {
          background-image: url("/images/avião-entre-nuvens.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-blend-mode: multiply;
        }
      </style>

      <div class="container py-5">
        <div class="row">
          <div class="col-11 col-md-8 col-xl-5 mx-auto p-3 rounded-3 shadow-lg bg-light">
            <h1>Registre uma conta!</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Provident, porro praesentium nostrum voluptatem explicabo
              voluptas.
            </p>
            <form th:object="${usuario}" action="/pages/signup" method="post">
              <label for="nome" class="form-label">Nome Completo*</label>
              <input th:field="${usuario.nome}" required id="nome" class="w-100 form-control mb-2" type="text" name="nome" />
              <label for="cpf" class="form-label">CPF*</label>
              <input th:field="${usuario.cpf}" required id="cpf" class="w-100 form-control mb-2" type="text" name="cpf" />
              <label for="email" class="form-label">E-mail*</label>
              <input th:field="${usuario.email}" required id="email" class="w-100 form-control mb-2" type="email" name="email" />
              <label for="senha" class="form-label">Senha*</label>
              <input th:field="${usuario.password}" id="senha" class="w-100 form-control mb-2" type="password" name="senha" />
              <label for="repitaSenha" class="form-label">Repita a Senha*</label>
              <input id="repitaSenha" class="w-100 form-control" type="password" name="repitaSenha" />
              <div class="text-center">
                <input class="w-50 btn btn-warning my-3" type="submit" value="Registrar-se" />
              </div>
            </form>
            <div>
              <p>Registre-se com:</p>

              <a class="me-2" href="https://gmail.com"><img width="32px"
                  th:src="@{/images/icons/gmail.svg}" alt="Ícone Gmail" /></a>
              <a href="https://facebook.com"><img width="32px" th:src="@{/images/icons/facebook.png}"
                  alt="Ícone Facebook" /></a>
            </div>
          </div>
          <!--col-->
        </div>
        <!--row-->
      </div>
      <!--container-->
    </section>
    <!--login-->
  </main>
  <footer th:replace="fragments/footer::html_footer"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>